body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
}

h1 {
	margin: 60px 0 36px;
	color: #24a9f7;
}

p {
	margin: 12px 0;
	font-size: 16px;
}

.user-list {
	width: 90%;
	max-width: 800px;
}

.user-item {
	padding: 24px 8px;
	margin: 0 0 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(14,20,26,0.1);
	transition: box-shadow 0.333s;
	font-weight: 700;
}

/*.user-item:hover {
	box-shadow: 0 4px 10px rgba(14,20,26,0.2);
	cursor: pointer;
}*/

.user-item.title {
	margin-bottom: 0;
	padding-bottom: 0;
	box-shadow: none;
	font-weight: 300;
}

.user-item .name {
	text-align: left;
	width: 50%;
	padding-left: 32px;
}

.user-item .email {
	width: 34%;
	display: none;
}

.user-item .role {
	text-align: right;
	width: 50%;
	padding-right: 32px;
}

@media (min-width: 512px) {
	.user-item .name {
		width: 33%;
		padding-left: 32px;
	}

	.user-item .email {
		display: block;
		text-align: center;
	}

	.user-item .role {
		width: 33%;
		padding-right: 32px;
	}
}

a {
	padding-bottom: 48px;
}