---
title: Admin Dashboard
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
	    <title>{{title}}</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,700">
		<link rel="stylesheet" href="/main.css">
		<link rel="stylesheet" href="/admin.css">
	</head>
	<body>
		<h1>{{title}}</h1>
		<div class="user-list">
			<div class="user-item title">
				<div class="name"><p>Name</p></div>
				<div class="email"><p>Email</p></div>
				<div class="role"><p>Role</p></div>
			</div>
			<div class="user-item">
				<div class="name"><p>Jonni Lundy</p></div>
				<div class="email"><p>jelundy@me.com</p></div>
				<div class="role"><p>Admin</p></div>
			</div>
			<div class="user-item">
				<div class="name"><p>Nolan Chan</p></div>
				<div class="email"><p>nolanchan@gmail.com</p></div>
				<div class="role"><p>Free</p></div>
			</div>
			<div class="user-item">
				<div class="name"><p>Zeno Rocha</p></div>
				<div class="email"><p>zeno.rocha@gmail.com</p></div>
				<div class="role"><p>Free</p></div>
			</div>
		</div>
		<a href="/logout">Sign Out</a>
	</body>
</html>